header {
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
        img{
            max-width : 210.32px; ;
        }
}

nav{
    width: 30%;
    max-width: 350px;
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            li {
                list-style-type: none;
                font-size: 24px;
                
                &:hover {
                    text-decoration: underline;
                }
            }
            li a {
                text-decoration: none;
                font-weight: 500;
                color : black;
            }
           
        }
            
    }


@media screen and (max-width: 800px){
    
    header {
        img {
            max-width: 145px;
        }
    }

    nav{
        width:100%;

        ul {
            justify-content: space-around;
            
            li {
            font-size: 12px;
            text-transform: uppercase;
             }
        }
    
    }

 }
